<div class="wrapper">
    <div class="title">Chetana College Chat-Bot</div>
    <div class="box">
        <div class="item">
            <div class="icon">
                <i class="fa fa-user"></i>
            </div>
            <div class="msg">
                <p>Attendance </p>
            </div>
        </div>
        <br clear="both">
        <div class="item right">
            <div class="btn-group">
                <button>Absent</button>
                <button>Present</button>
                <button>Update</button>
                <button>Schedule</button>
            </div>
        </div>
    </div>


    <div class="typing-area">
        <div class="input-field">
            <input type="text" placeholder="Type your message" required>
            <button>Send</button>
        </div>
    </div>
</div>