<app-header></app-header>
<h1>Bsc-it Semester-6 Subjects</h1>
<div class="charts">
  <div class="chart">
    <h2>Software Quality Assurance</h2>
     <h4>-Pro.Saravanan Reddy</h4>
    <table id="Students">
      <tr>
        <th>Total Lecture </th>
        <th>Total Attendance</th>
        <th>Total Percentage</th>
      </tr>
      <tr>
        <td>25</td>
        <td>12</td>
        <td>47%</td>
      </tr>
    </table>
  </div>


  <div class="chart ">
    <h2>Security in Computing</h2>
     <h4>-Pro.</h4>
    <table id="Students">
      <tr>
        <th>Total Lecture </th>
        <th>Total Attendance</th>
        <th>Total Percentage</th>
      </tr>
      <tr>
        <td>25</td>
        <td>12</td>
        <td>47%</td>
      </tr>
    </table>
  </div>


  <div class="chart">
    <h2>Business Intelligence</h2>
     <h4>-Pro.Hatim</h4>
    <table id="Students">
      <tr>
        <th>Total Lecture </th>
        <th>Total Attendance</th>
        <th>Total Percentage</th>
      </tr>
      <tr>
        <td>25</td>
        <td>12</td>
        <td>47%</td>
      </tr>
    </table>
  </div>


  <div class="chart ">
    <h2>Enterprise Networking</h2>
     <h4>-Pro.Roshan Jaiswal</h4>
    <table id="Students">
      <tr>
        <th>Total Lecture </th>
        <th>Total Attendance</th>
        <th>Total Percentage</th>
      </tr>
      <tr>
        <td>25</td>
        <td>12</td>
        <td>47%</td>
      </tr>
    </table>
  </div>


  <div class="chart ">
    <h2>Cyber Laws</h2>
    <h4>-Pro.</h4>
    <table id="Students">
      <tr>
        <th>Total Lecture </th>
        <th>Total Attendance</th>
        <th>Total Percentage</th>
      </tr>
      <tr>
        <td>25</td>
        <td>12</td>
        <td>47%</td>
      </tr>
    </table>
  </div>
</div>