<p-sidebar [(visible)]="visibleSidebar" [baseZIndex]="10000">
  <h1 style="font-weight:normal">Attendance Portal (Admin)</h1>
  <hr>
  <div class="sideNav">
    <div class="subNav" [ngClass]="{active :activeTab == 'adminDash'}" (click)="adminDash()">
      <div>
        <a>Dashboard</a>
      </div>
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36" height="36">
          <path fill="none" d="M0 0h24v24H0z" />
          <path d="M13.172 12l-4.95-4.95 1.414-1.414L16 12l-6.364 6.364-1.414-1.414z" />
        </svg>
      </div>
    </div>
    <div class="subNav" [ngClass]="{active :activeTab  == 'assign'}" (click)="assign()">
      <div>
        <a>Faculty Logins</a>
      </div>
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36" height="36">
          <path fill="none" d="M0 0h24v24H0z" />
          <path d="M13.172 12l-4.95-4.95 1.414-1.414L16 12l-6.364 6.364-1.414-1.414z" />
        </svg>
      </div>
    </div>
    <div class="subNav" [ngClass]="{active :activeTab  == 'assign'}" (click)="assign()">
      <div>
        <a>Assign Faculties</a>
      </div>
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36" height="36">
          <path fill="none" d="M0 0h24v24H0z" />
          <path d="M13.172 12l-4.95-4.95 1.414-1.414L16 12l-6.364 6.364-1.414-1.414z" />
        </svg>
      </div>
    </div>
    <div class="subNav" [ngClass]="{active :activeTab  == 'assign'}" (click)="assign()">
      <div>
        <a>Add Subjects</a>
      </div>
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36" height="36">
          <path fill="none" d="M0 0h24v24H0z" />
          <path d="M13.172 12l-4.95-4.95 1.414-1.414L16 12l-6.364 6.364-1.414-1.414z" />
        </svg>
      </div>
    </div>
    <div class="subNav" [ngClass]="{active :activeTab  == 'attMark'}" (click)="attMark()">
      <div>
        <a>Add Classrooms</a>
      </div>
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36" height="36">
          <path fill="none" d="M0 0h24v24H0z" />
          <path d="M13.172 12l-4.95-4.95 1.414-1.414L16 12l-6.364 6.364-1.414-1.414z" />
        </svg>
      </div>
    </div>

    <div class="subNav" [ngClass]="{active :activeTab  == 'logout'}" (click)="onLogout()">
      <div>
        <a>Logout</a>
      </div>
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36" height="36">
          <path fill="none" d="M0 0h24v24H0z" />
          <path d="M13.172 12l-4.95-4.95 1.414-1.414L16 12l-6.364 6.364-1.414-1.414z" />
        </svg>
      </div>
    </div>
  </div>

</p-sidebar>
<p-button type="button" (click)="visibleSidebar = true" icon="pi pi-bars"></p-button>