<app-header></app-header>
<div class="defMain">
   <div class="heading">
      <h1>List Of Defaulter Students </h1>
      </div>
      <div class="chart">
      <table id="Students">
        <tr>
          <th>Name</th>
          <th>Roll No</th>
          <th>Mobile</th>
          <th>Class</th>
          <th>Year</th>
          <th>Lecture</th>
          <th>Attendance</th>
        </tr>
       
        <tr>
          <td>Rahul kumar</td>
          <td>310</td>
          <td>12456826</td>
          <td>Bscit</td>
          <td>TY</td>
          <td>Enterprise Networking</td>
          <td>60%</td>
        </tr>
        <tr>
          <td>Rohit Verma</td>
          <td>325</td>
          <td>6451688</td>
          <td>Bscit</td>
          <td>TY</td>
          <td>Enterprise Networking</td>
          <td>69%</td>
        </tr>
        </table>
  </div>
  


