<app-header></app-header>
<div class="adChatContainer">
    <!-- <form (ngSubmit)="submitChat()">
        <div class="FormContainer">
            <h2>Add your Question</h2>
            <div class="questions">
                    <span class="p-float-label">
                      <input type="text" id="question" pInputText [(ngModel)]="inputLabel" />
                      <label for="question">Insert your Question</label>
                    </span>
            </div>

            <h2>Add your suggestions of that Question</h2>
            <div class="suggestions" >
                <div class="sugInput">
                    <span class="p-float-label">
                        <input type="text" id="suggestion" pInputText [(ngModel)]="inputLabel" />
                        <label for="suggestion">Insert your Suggestion</label>
                      </span>
                </div>
                <div class="addInput">
                    <p-button label="Add more suggestion"></p-button>
                </div>
            </div>
            <div class="submit">
                <hr>
                <p-button label="Submit"></p-button>
            </div>
        </div>
    </form> -->
</div>