<app-header></app-header>
<div class="container">
    <div class="top">
        <div class="title">
            <h1>Schedule</h1>
        </div>
        <div class="addSchedule">
            <p-dialog header="Add Schedule" [(visible)]="display">
                <form action="" [formGroup]="formValue">
                    <div class="form">
                        <div class="section" formGroupName="groups" *ngFor="let drop1 of scheduleData">
                            <ng-container formArrayName="0" >
                                <select >
                                    <option value="">--select--</option>
                                    <option value=""*ngFor="let subDrop1 of drop1.groups">{{subDrop1|json}}</option>
                                </select>
                            </ng-container>
                        </div>
                        <div class="section">
                            <ng-container>
                                <label for="Schedule">Schedule</label>
                                <input type="text" name="Schedule" placeholder="enter Schedule name" formControlName="scheduleName">
                            </ng-container>
                        </div>
                    </div>
                    <div class="section">
                        <button type="submit" (click)="postSch()">submit</button>
                    </div>
                </form>
            </p-dialog>
            <button type="button" (click)="showDialog()" icon="pi pi-info-circle" label="Show">Add Schedule</button>
        </div>
    </div>
    <hr>
    <div class="data">
        <div class="showSchedule">
             
        </div>
    </div>
</div>