.container {
    margin: 2rem;
    padding: 2rem;
    background-color: white;
  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .addSchedule{

    }
    button{
        border: none;
        padding: 0.8rem;
        border-radius: 8%;
        background-color: #3b82f6;
        color: white;
    }
  }
}
