<p-sidebar [(visible)]="visibleSidebar" [baseZIndex]="10000">
    <h1 style="font-weight:normal">Attendance Portal (Department)</h1>
    <hr>
    <div class="sideNav">
      <div class="subNav" [ngClass]="{active :activeTab == 'depDash'}" (click)="depDash()">
        <div>
          <a>Dashboard</a>
        </div>
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36" height="36">
            <path fill="none" d="M0 0h24v24H0z" />
            <path d="M13.172 12l-4.95-4.95 1.414-1.414L16 12l-6.364 6.364-1.414-1.414z" />
          </svg>
        </div>
      </div>
      <div class="subNav" [ngClass]="{active :activeTab  == 'bscit'}" (click)="bscit()">
        <div>
          <a>BSc-IT</a>
        </div>
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36" height="36">
            <path fill="none" d="M0 0h24v24H0z" />
            <path d="M13.172 12l-4.95-4.95 1.414-1.414L16 12l-6.364 6.364-1.414-1.414z" />
          </svg>
        </div>
      </div>
      <div class="subNav" [ngClass]="{active :activeTab  == 'bms'}" (click)="bms()">
        <div>
          <a>BMS</a>
        </div>
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36" height="36">
            <path fill="none" d="M0 0h24v24H0z" />
            <path d="M13.172 12l-4.95-4.95 1.414-1.414L16 12l-6.364 6.364-1.414-1.414z" />
          </svg>
        </div>
      </div>
      <div class="subNav" [ngClass]="{active :activeTab  == 'baf'}" (click)="baf()">
        <div>
          <a>BAF</a>
        </div>
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36" height="36">
            <path fill="none" d="M0 0h24v24H0z" />
            <path d="M13.172 12l-4.95-4.95 1.414-1.414L16 12l-6.364 6.364-1.414-1.414z" />
          </svg>
        </div>
      </div>
      <div class="subNav" [ngClass]="{active :activeTab  == 'bammc'}" (click)="bammc()">
        <div>
          <a>BAMMC</a>
        </div>
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36" height="36">
            <path fill="none" d="M0 0h24v24H0z" />
            <path d="M13.172 12l-4.95-4.95 1.414-1.414L16 12l-6.364 6.364-1.414-1.414z" />
          </svg>
        </div>
      </div>
      <div class="subNav" [ngClass]="{active :activeTab  == 'seminars'}" (click)="seminars()">
        <div>
          <a>Seminars</a>
        </div>
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36" height="36">
            <path fill="none" d="M0 0h24v24H0z" />
            <path d="M13.172 12l-4.95-4.95 1.414-1.414L16 12l-6.364 6.364-1.414-1.414z" />
          </svg>
        </div>
      </div>
      <div class="subNav" [ngClass]="{active :activeTab  == 'workshops'}" (click)="workshops()">
        <div>
          <a>Workshops</a>
        </div>
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36" height="36">
            <path fill="none" d="M0 0h24v24H0z" />
            <path d="M13.172 12l-4.95-4.95 1.414-1.414L16 12l-6.364 6.364-1.414-1.414z" />
          </svg>
        </div>
      </div>
      <div class="subNav" [ngClass]="{active :activeTab  == 'logout'}" (click)="onLogout()">
        <div>
          <a>Logout</a>
        </div>
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36" height="36">
            <path fill="none" d="M0 0h24v24H0z" />
            <path d="M13.172 12l-4.95-4.95 1.414-1.414L16 12l-6.364 6.364-1.414-1.414z" />
          </svg>
        </div>
      </div>
    </div>
  
  </p-sidebar>
  <p-button type="button" (click)="visibleSidebar = true" icon="pi pi-bars"></p-button>