
.defMain{
  margin: 1rem;
  padding: 1rem;
  background-color: white;
  table {
    border-collapse: collapse;
    width: 100%;
    overflow-y: scroll;
    height: 10rem;
    border: 1 px solid black;
    th, td {
    text-align: left;
    padding: 8px;
    }
    tr:nth-child(even){background-color: #f2f2f2}
    th {
    background-color: #46adfc;
    color: white;
    }
  }
}
