<app-sidebar></app-sidebar>
<div class="charts">
    <div class="chart">
      <h1>List Of Defaulter Students </h1>
      <table id="Students">
        <tr>
          <th>Name</th>
          <th>Roll No</th>
          <th>Email</th>
          <th>Class</th>
          <th>Lecture</th>
          <th>Attendance</th>
        </tr>
       
        <tr>
          <td>Rahul kumar</td>
          <td>310</td>
          <td>Rahul@123</td>
          <td>Bscit</td>
          <td>Enterprise Networking</td>
          <td>60%</td>
        </tr>
        <tr>
          <td>Rohit Verma</td>
          <td>325</td>
          <td>Rohit@123</td>
          <td>Bscit</td>
          <td>Enterprise Networking</td>
          <td>69%</td>
        </tr>
        </table>
  </div>
  


