<app-header></app-header>
<div class="chatContainer">
  <div class="title">
    <h1>chat bot</h1>
  </div>
  <div class="chatMain">
    <div class="chatRoom" >
      <div class="server" >
        <h5>output</h5>
        <span class="chips"></span>
      </div>
      <div class="user" >
        <h5>question</h5>
      </div>
    </div>
  </div>

  <div class="inputs">
    <form #form="ngForm" >
    <div class="input">
      <input type="text" placeholder="enter your message..." >
    </div>
    <div class="btn">
      <button>send</button>
    </div>
    </form>
  </div>
</div>