<app-header></app-header>
<div class="lectureContainer">
    <div class="lecture" *ngFor="let schList of schData">
      <div class="lecture-left">
        <div class="lecture-date">
          <div class="Batch">{{schList.groups}}</div>
        </div>
      </div>
      <div class="lecture-right">
        <h3 class="lecture-title">{{schList.scheduleName}}</h3>
        <h4 class="lecture-Faculty">{{schList}}</h4>
        <div class="lecture-description">
          Important Message
        </div>
        <div class="dates">
          <div class="lecture-timing">
            {{schList.Date}}
          </div>
          <div class="lecture-timing">
            {{schList.timing}}
          </div>
        </div>
      </div>
    </div>
  </div>
