<header>
    <div class="main">
        <div class="sideNav">
            <app-sidebar></app-sidebar>
        </div>
        <div class="head">
            <div class="title">
                <h1>Chetana College</h1>
            </div>
            <!-- <div class="creds">
                <div class="btns">
                    <div class="sign">
                        <button>Signup</button>
                    </div>
                    <div class="login">
                        <button>Login</button>
                    </div>  
                </div>
                <div class="user">
                    <div class="profile">
                        <h4>name</h4> 
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</header>