
  <footer>
    <div class="container">
      <div class="wrapper">
        <div class="footer-widget">
          <p class="desc">
            Attendance Management Web Aplication from TyBSc-IT chetana College
          </p>
          
        </div>
        <div class="footer-widget">
          <h6>Developer</h6>
          <ul class="links">
            <li><a href="#">Adnan Mangaonkar</a></li>
            <li><a href="#">Rohan Walke</a></li>
          </ul>
        </div>
        
      </div>
      <div class="copyright-wrapper">
        <p>
          Copyrights © 2023 All right reserved 
          <a href="#" target="blank">@chetanacollege.in</a>
        </p>
      </div>
    </div>
  </footer>


