
  <footer>
    <div class="container">
      <div class="wrapper">
        <div class="footer-widget">
          <p class="desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos
            deserunt magni recusandae ut! Natus?
          </p>
          <ul class="socials">
            <li>
              <a href="#">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="footer-widget">
          <h6>Developer</h6>
          <ul class="links">
            <li><a href="#">Adnan Mangaonkar</a></li>
            <li><a href="#">Rohan Walke</a></li>
          </ul>
        </div>
        <div class="footer-widget">
          <h6>Guide</h6>
          <ul class="links">
            <li><a href="#">Prof. Saravanan Reddy </a></li>
          </ul>
        </div>
        <div class="footer-widget">
          <h6>Help &amp; Support</h6>
          <ul class="links">
            <li><a href="#">adnans0307@gmail.com</a></li>
            <li><a href="#">rohanwalke2002@gmail.com</a></li>
          </ul>
        </div>
      </div>
      <div class="copyright-wrapper">
        <p>
          Copyrights © 2023 All right reserved 
          <a href="#" target="blank">@chetanacollege.in</a>
        </p>
      </div>
    </div>
  </footer>


