$theme: rgb(0, 76, 255);
$text: white;
.chatContainer {
  display: flex;
  flex-direction: column;
  line-height: 0.3;
  .title {
    background-color: $theme;
    h1 {
      text-align: center;
      font-size: xx-large;
      color: $text;
    }
  }
  .chatMain {
    color: black;
    font-size: 24px;
    font-weight: 400;
    margin: 0.2em;
    padding: 1rem;
    min-height: 18em;
    display: flex;
    gap: 0.3em;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    .server {
      text-align: start;
    }
    .user {
      text-align: end;
    }
  }
  .chatMain::-webkit-scrollbar {
    width: 0.3em;
  }
  .chatMain::-webkit-scrollbar-track {
    background: whitesmoke;
  }
  .chatMain::-webkit-scrollbar-thumb {
    background: $theme;
  }
  .inputs {
    display: flex;
    justify-content: center;
    .input {
      input {
        padding: 0.7rem;
        width: 30rem;
      }
    }
    .btn {
      button {
        border: none;
        font-size: large;
        padding: 0.7rem;
        background-color: $theme;
        color: $text;
      }
    }
  }
}
