<app-header></app-header>
<div class="container">
    <section class="top">
        <h1>Department Dashboard</h1><hr>
    </section>
    <section class="content">
        <div class="overall">
            <div class="title">
                <h2>Overall</h2>
            </div>
            <div class="details"></div>
        </div>
        <div class="it">
            <div class="title">
                <h2>BSc-IT</h2>
            </div>
            <div class="details">
                
            </div>
        </div>
        <div class="bms"></div>
        <div class="baf"></div>
        <div class="bammc"></div>
        <div class="seminars"></div>
        <div class="workshops"></div>
    </section>
</div>