<app-header></app-header>
<div class="container">
    <section class="top">
        <h1>Department Dashboard - Overall</h1>
        <hr>
        <div class="overall">

        </div>
    </section>
    <section class="content">
        <p-accordion>
            <p-accordionTab header="BSc-IT"></p-accordionTab>
            <p-accordionTab header="BMS"></p-accordionTab>
            <p-accordionTab header="BAF"></p-accordionTab>
            <p-accordionTab header="BAMMC"></p-accordionTab>
            <p-accordionTab header="Seminars"></p-accordionTab>
            <p-accordionTab header="Workshops"></p-accordionTab>
        </p-accordion>
    </section>
</div>