<app-header></app-header>
<div class="container">
    <div class="top">
        <div class="title">
            <h1>Add Faculties</h1>
        </div>
        <div class="add">
            <p-dialog header="Assign Faculty" [(visible)]="display">
                <form [formGroup]="facValue">
                    <div class="sub">
                        <ng-container>
                            <span class="p-float-label">
                                <input type="text" id="inputtext" pInputText formControlName="fname">
                                <label for="inputtext">Faculty Name</label>
                            </span>
                        </ng-container>
                    </div>
                    <div class="sub">
                        <ng-container>
                            <span class="p-float-label">
                                <input type="text" id="inputtext" pInputText formControlName="department">
                                <label for="inputtext">Department</label>
                            </span>
                        </ng-container>
                    </div>
                    <div class="sub">
                        <ng-container>
                            <span class="p-float-label">
                                <input type="text" id="inputtext" pInputText formControlName="designation">
                                <label for="inputtext">Designation</label>
                            </span>
                        </ng-container>
                    </div>
                    <div class="sub">
                        <button pButton type="button" *ngIf="stuSwitch" label="Submit" (click)="postFac()"></button>
                        <button pButton type="button" *ngIf="!stuSwitch" label="Edit" (click)="updateFac()">
                        </button>
                    </div>
                </form>
            </p-dialog>
            <div class="adminOptions">
                <div class="adOpt">
                    <button pButton type="button" icon="pi pi-plus" label="Add" (click)="showDialog()"></button>
                </div>
                <div class="adOpt">
                    <p-dialog header="upload Students" [(visible)]="uploadDialog">
                        <form [formGroup]="facUploadValue" (ngSubmit)="onFacSubmit()" enctype="multipart/form-data">
                            <div class="p-field">
                                <p-fileUpload name="file" url="#" chooseLabel="Choose File" accept=".xls,.xlsx,.csv"
                                    [showUploadButton]="false" [showCancelButton]="false"
                                    (onSelect)="onFacFileChange($event)">
                                </p-fileUpload>
                            </div>
                            <button pButton type="submit" [disabled]="!facUploadValue.valid" label="Upload">
                            </button>
                        </form>

                    </p-dialog>
                    <button pButton type="button" pRipple label="Import" icon="pi pi-file-import"
                        (click)="importDialog()" class="p-button-help mr-2"></button>
                </div>
                <div class="adOpt">
                    <button type="button" pButton pRipple icon="pi pi-file-excel" label="Export"
                        (click)="exportFacExcel()" class="p-button-success mr-2"></button>
                </div>
            </div>
            <hr>

            <div class="view">
                <p-table #dt1 responsiveLayout="stack" [value]="facData" dataKey="id" [rows]="5"
                    [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,15]" [loading]="loading"
                    styleClass="p-datatable-customers p-datatable-gridlines" [paginator]="true"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
                    <ng-template pTemplate="caption">
                        Faculty List
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th>
                                <div class="p-d-flex p-jc-between p-ai-center">
                                    Faculty Name
                                    <p-columnFilter type="text" field="fname" display="menu"></p-columnFilter>
                                </div>
                            </th>
                            <th>
                                <div class="p-d-flex p-jc-between p-ai-center">
                                    Department
                                    <p-columnFilter type="text" field="department" display="menu"></p-columnFilter>
                                </div>
                            </th>
                            <th>
                                <div class="p-d-flex p-jc-between p-ai-center">
                                    Designation
                                    <p-columnFilter type="text" field="designation" display="menu"></p-columnFilter>
                                </div>
                            </th>
                            <th>
                                <div class="p-d-flex p-jc-between p-ai-center">
                                    Options
                                </div>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-facData>
                        <tr>
                            <td><span class="p-column-title">Faculty Name</span>
                                {{facData.fname}}
                            </td>
                            <td><span class="p-column-title">Department</span>
                                {{facData.department}}
                            </td>
                            <td><span class="p-column-title">Designation</span>
                                {{facData.designation}}
                            </td>
                            <td><span class="p-column-title">Options</span>
                                <div class="editGrp">
                                    <div class="edit">
                                        <button (click)="recoverFaculty(facData)">Edit</button>
                                    </div>
                                    <div class="delete">
                                        <button (click)="removeFaculty(facData._id)">Delete</button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="7">No customers found.</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>