@use "/src/app/shared/styles/global.scss";
@mixin buttonStyle {
    background-color: #3b82f6;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 10px;
  }
  .container {
    margin: 1rem;
    padding: 2rem;
    background-color: white;
    border-radius: 10px;
  }
  .sub {
    margin: 2rem;
  }
  .view {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .adminOptions {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  button {
    @include buttonStyle();
    font-weight: 600;
  }
  .editGrp {
    display: flex;
    gap: 0.5rem;
  }
  .grpView {
    display: flex;
    box-shadow: none !important;
    gap: 2rem;
    .grpCards {
      padding: 3rem;
      border-radius: 12px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      h2 {
        font-size: 32px;
      }
      .grpTitleOpt {
        display: flex;
        flex-direction: row;
        gap: 1rem;
      }
      .grpList {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        padding: 1rem;
        td {
          border: 1px solid gray;
          padding: 0.4rem;
          margin: 1rem;
          border-radius: 6px;
        }
      }
    }
  }
  .markAdd {
    overflow-y: scroll;
    max-height: 23rem;
  }
  select {
    border-radius: 10px;
    margin-left: 10px;
    padding: 0.3rem;
    border: 1px solid rgb(214, 213, 213);
    font-size: 16px;
    color: rgb(115, 115, 115);
  }
  select:hover {
    border: 1px solid rgb(55, 55, 255);
  }
  
  @media screen and (max-width: 1000px) {
    .container {
      margin: 0.6rem;
      padding: 1rem;
    }
    .adminOptions {
      overflow-x: scroll;
    }
    .view {
      overflow-y: scroll;
      max-height: 20rem;
    }
    .grpView {
      display: flex;
      flex-direction: column;
      box-shadow: none !important;
      overflow-y: scroll;
      max-height: 20rem;
      .grpCards {
        margin: 0.5rem;
        padding: 2rem;
      }
    }
    .attList {
      td {
        max-width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
  