<app-header></app-header>
<div class="adDash">
    <div class="top">
        <h1>Admin Dashboard</h1>
    </div>
    <p-tabView [(activeIndex)]="activeIndex" [scrollable]="true">
        <p-tabPanel header="Students">
            <section class="students">
                <div class="title">
                    <h1>Students</h1>
                </div>
                <div class="Add">
                    <p-dialog header="Add Students" [(visible)]="display">
                        <form [formGroup]="stuValue">
                            <div class="sub">
                                <ng-container>
                                    <span class="p-float-label">
                                        <input type="text" formControlName="roll" id="inputtext" pInputText>
                                        <label for="inputtext">Roll no</label>
                                    </span>
                                </ng-container>
                            </div>
                            <div class="sub">
                                <ng-container>
                                    <span class="p-float-label">
                                        <input type="text" formControlName="name" id="inputtext" pInputText>
                                        <label for="inputtext">Students Name</label>
                                    </span>
                                </ng-container>
                            </div>
                            <div class="sub">
                                <ng-container>
                                    <span class="p-float-label">
                                        <input type="text" formControlName="classGrp" id="inputtext" pInputText>
                                        <label for="inputtext">Class</label>
                                    </span>
                                </ng-container>
                            </div>
                            <div class="sub">
                                <button pButton type="button" *ngIf="stuSwitch" label="Add"
                                    (click)="regStudents()"></button>
                                <button pButton type="button" *ngIf="!stuSwitch" label="Edit"
                                    (click)="updateStudents()"> </button>
                            </div>
                        </form>
                    </p-dialog>
                    <div class="adminOptions">
                        <div class="adOpt">
                            <button pButton type="button" icon="pi pi-plus" label="Add" (click)="showDialog()"></button>
                        </div>
                        <div class="adOpt">
                            <p-dialog header="upload Students" [(visible)]="uploadDialog">
                                <form [formGroup]="stuValue">
                                    <h4>upload excel data</h4>
                                        <p-fileUpload  accept=".xlsx">
                                        <ng-template pTemplate="content">
                                            <ul *ngIf="uploadedFiles.length">
                                                <li *ngFor="let file of uploadedFiles">
                                                    {{file.name}} - {{file.size}} bytes
                                                </li>
                                            </ul>
                                        </ng-template>
                                    </p-fileUpload>
                                    <input  accept=".xlsx,.csv" type="file" (change)="importStuExcel($event)">
                                </form>
                            </p-dialog>
                            <button pButton type="button" pRipple label="Import" icon="pi pi-file-import"
                                (click)="importDialog()" class="p-button-help mr-2"></button>
                        </div>
                        <div class="adOpt">

                        </div>
                        <div class="adOpt">
                            <button type="button" pButton pRipple icon="pi pi-file-excel" label="Export"
                                (click)="exportStuExcel()" class="p-button-success mr-2"></button>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="view">
                    <p-table responsiveLayout="stack" #studentTable [value]="stuData" dataKey="id" [rows]="5"
                        [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,15]" [loading]="loading"
                        styleClass="p-datatable-customers p-datatable-gridlines" [paginator]="true"
                        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
                        <ng-template pTemplate="caption">
                            Students List
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th>
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        Roll Number
                                        <p-columnFilter type="text" field="roll" display="menu"></p-columnFilter>
                                    </div>
                                </th>
                                <th>
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        Students Name
                                        <p-columnFilter type="text" field="name" display="menu"></p-columnFilter>
                                    </div>
                                </th>
                                <th>
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        Class
                                        <p-columnFilter type="text" field="classGrp" display="menu"></p-columnFilter>
                                    </div>
                                </th>
                                <th>
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        Options
                                    </div>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-stuData>
                            <tr>
                                <td><span class="p-column-title">Roll</span>
                                    {{stuData.roll}}
                                </td>
                                <td><span class="p-column-title">Name</span>
                                    {{stuData.name}}
                                </td>
                                <td><span class="p-column-title">Class</span>
                                    {{stuData.classGrp}}
                                </td>
                                <td><span class="p-column-title">Options</span>
                                    <div class="editGrp">
                                        <div class="edit">
                                            <button (click)="recoverStudent(stuData)">Edit</button>
                                        </div>
                                        <div class="delete">
                                            <button (click)="removeStudent(stuData._id)">Delete</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="7">No customers found.</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </section>
        </p-tabPanel>
        <p-tabPanel header="Faculty">
            <section class="faculty">
                <div class="title">
                    <h1>Faculty</h1>
                </div>
                <div class="Add">
                    <p-dialog header="Add Faculty" [(visible)]="display">
                        <form [formGroup]="facValue">
                            <div class="sub">
                                <ng-container>
                                    <span class="p-float-label">
                                        <input type="text" id="inputtext" pInputText formControlName="fname">
                                        <label for="inputtext">Faculty Name</label>
                                    </span>
                                </ng-container>
                            </div>
                            <div class="sub">
                                <ng-container>
                                    <span class="p-float-label">
                                        <input type="text" id="inputtext" pInputText formControlName="department">
                                        <label for="inputtext">Department</label>
                                    </span>
                                </ng-container>
                            </div>
                            <div class="sub">
                                <ng-container>
                                    <span class="p-float-label">
                                        <input type="text" id="inputtext" pInputText formControlName="designation">
                                        <label for="inputtext">Designation</label>
                                    </span>
                                </ng-container>
                            </div>
                            <div class="sub">
                                <button pButton type="button" *ngIf="stuSwitch" label="Submit"
                                    (click)="postFac()"></button>
                                <button pButton type="button" *ngIf="!stuSwitch" label="Edit" (click)="updateFac()">
                                </button>
                            </div>
                        </form>
                    </p-dialog>
                    <button pButton type="button" label="Add Faculty" (click)="showDialog()"></button>
                </div>
                <hr>
                <div class="view">
                    <p-table #dt1 responsiveLayout="stack" [value]="facData" dataKey="id" [rows]="5"
                        [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,15]" [loading]="loading"
                        styleClass="p-datatable-customers p-datatable-gridlines" [paginator]="true"
                        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
                        <ng-template pTemplate="caption">
                            Faculty List
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th>
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        Faculty Name
                                        <p-columnFilter type="text" field="fname" display="menu"></p-columnFilter>
                                    </div>
                                </th>
                                <th>
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        Department
                                        <p-columnFilter type="text" field="department" display="menu"></p-columnFilter>
                                    </div>
                                </th>
                                <th>
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        Designation
                                        <p-columnFilter type="text" field="designation" display="menu"></p-columnFilter>
                                    </div>
                                </th>
                                <th>
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        Options
                                    </div>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-facData>
                            <tr>
                                <td><span class="p-column-title">Faculty Name</span>
                                    {{facData.fname}}
                                </td>
                                <td><span class="p-column-title">Department</span>
                                    {{facData.department}}
                                </td>
                                <td><span class="p-column-title">Designation</span>
                                    {{facData.designation}}
                                </td>
                                <td><span class="p-column-title">Options</span>
                                    <div class="editGrp">
                                        <div class="edit">
                                            <button (click)="recoverFaculty(facData)">Edit</button>
                                        </div>
                                        <div class="delete">
                                            <button (click)="removeFaculty(facData._id)">Delete</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="7">No customers found.</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </section>
        </p-tabPanel>
        <p-tabPanel header="Subjects">
            <section class="subjects">
                <div class="title">
                    <h1>Subjects</h1>
                </div>
                <div class="Add">
                    <p-dialog header="Add Subjects" [(visible)]="display">
                        <form [formGroup]="subValue">
                            <div class="sub">
                                <ng-container>
                                    <span class="p-float-label">
                                        <input type="text" id="inputtext" pInputText formControlName="subject">
                                        <label for="inputtext">Subjects Name</label>
                                    </span>
                                </ng-container>
                            </div>
                            <div class="sub">
                                <button pButton type="button" *ngIf="stuSwitch" label="Add"
                                    (click)="postSub()"></button>
                                <button pButton type="button" *ngIf="!stuSwitch" label="Edit"
                                    (click)="updateSubject()"></button>
                            </div>
                        </form>
                    </p-dialog>
                    <button pButton type="button" label="Add Subjects" (click)="showDialog()"></button>
                </div>
                <hr>
                <div class="view">
                    <p-table #dt1 responsiveLayout="stack" [value]="subData" dataKey="id" [rows]="5"
                        [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,15]" [loading]="loading"
                        styleClass="p-datatable-customers p-datatable-gridlines" [paginator]="true"
                        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
                        <ng-template pTemplate="caption">
                            Subjects List
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th>
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        Subject Name
                                        <p-columnFilter type="text" field="subject" display="menu"></p-columnFilter>
                                    </div>
                                </th>
                                <th>
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        Options
                                    </div>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-subData>
                            <tr>
                                <td><span class="p-column-title">Subject</span>
                                    {{subData.subject}}
                                </td>
                                <td><span class="p-column-title">Options</span>
                                    <div class="editGrp">
                                        <div class="edit">
                                            <button (click)="recoverSubject(subData)">Edit</button>
                                        </div>
                                        <div class="delete">
                                            <button (click)="removeSubject(subData._id)">Delete</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="7">No customers found.</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </section>
        </p-tabPanel>
        <p-tabPanel header="Classroom">
            <section class="classroom">
                <div class="title">
                    <h1>Classroom</h1>
                </div>
                <div class="Add">
                    <p-dialog header="Add Classroom" [(visible)]="display">
                        <form [formGroup]="classValue">
                            <div class="sub">
                                <ng-container>
                                    <span class="p-float-label">
                                        <input type="text" id="inputtext" pInputText formControlName="class">
                                        <label for="inputtext">Classroom Name</label>
                                    </span>
                                </ng-container>
                            </div>
                            <div class="sub">
                                <button pButton type="button" *ngIf="stuSwitch" label="Add"
                                    (click)="postClass()"></button>
                                <button pButton type="button" *ngIf="!stuSwitch" label="Edit"
                                    (click)="updateClass()"></button>
                            </div>
                        </form>
                    </p-dialog>
                    <button pButton type="button" label="Add Classroom" (click)="showDialog()"></button>
                </div>
                <hr>
                <div class="view">
                    <p-table #dt1 responsiveLayout="stack" [value]="classData" dataKey="id" [rows]="5"
                        [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,15]" [loading]="loading"
                        styleClass="p-datatable-customers p-datatable-gridlines" [paginator]="true"
                        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
                        <ng-template pTemplate="caption">
                            Classroom List
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th>
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        Classroom
                                        <p-columnFilter type="text" field="class" display="menu"></p-columnFilter>
                                    </div>
                                </th>
                                <th>
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        Options
                                    </div>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-classData>
                            <tr>
                                <td><span class="p-column-title">Classroom</span>
                                    {{classData.class}}
                                </td>
                                <td><span class="p-column-title">Options</span>
                                    <div class="editGrp">
                                        <div class="edit">
                                            <button (click)="recoverClass(classData)">Edit</button>
                                        </div>
                                        <div class="delete">
                                            <button (click)="deleteClass(classData._id)">Delete</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="7">No customers found.</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </section>
        </p-tabPanel>
        <p-tabPanel header="Groups">
            <section class="groups">
                <div class="title">
                    <h1>Groups</h1>
                </div>
                <div class="Add">
                    <p-dialog header="Add Groups" [(visible)]="display">
                        <form [formGroup]="grpValue">
                            <div class="sub">
                                <ng-container>
                                    <span class="p-float-label">
                                        <input type="text" id="inputtext" pInputText formControlName="gName">
                                        <label for="inputtext">Group Name</label>
                                    </span>
                                </ng-container>
                            </div>
                            <div class="sub">
                                <ng-container>
                                    <h3>Select Students</h3>
                                    <p-listbox formControlName="students" [options]="stuData" [metaKeySelection]="false"
                                        [checkbox]="true" [filter]="true" [multiple]="true" optionLabel="roll">
                                        <ng-template let-stuData pTemplate="item">
                                            <div class="country-item">
                                                <span>{{stuData.roll}}</span>
                                            </div>
                                        </ng-template>
                                    </p-listbox>
                                </ng-container>
                            </div>
                            <div class="sub">
                                <button pButton type="button" label="Submit" (click)="createGroup()"></button>
                            </div>
                        </form>
                    </p-dialog>
                    <button pButton type="button" label="Add Groups" (click)="showDialog()"></button>
                </div>

            </section>
        </p-tabPanel>
    </p-tabView>
</div>