<app-header></app-header>
<div class="container">
    <div class="top">
        <h1>Admin Dashboard</h1>
    </div>
    <section class="body">
        <div class="cards">
            <div class="card">
              <div class="card-content">
                <div class="number stuLength">
                  {{stuData.length}}
                </div>
                <div class="card-name">Students</div>
              </div>
              <div class="icon-box">
                <i class="fas fa-user-graduate"></i>
              </div>
            </div>
            <div class="card">
              <div class="card-content">
                <div class="number facLength">
                  {{facData.length}}
                </div>
                <div class="card-name">Teachers</div>
              </div>
              <div class="icon-box">
                <i class="fas fa-chalkboard-teacher"></i>
              </div>
            </div>
            <div class="card">
              <div class="card-content">
                <div class="number schlength">
                  {{subData.length}}
                </div>
                <div class="card-name">Subjects</div>
              </div>
              <div class="icon-box">
                <i class="fas fa-thin fa-books"></i>
              </div>
            </div>
            <div class="card">
              <div class="card-content">
                <div class="number courseLength">
                  {{classData.length}}
                </div>
                <div class="card-name">Classrooms</div>
              </div>
              <div class="icon-box">
                <i class="fas fa-thin fa-clipboard-list"></i>
              </div>
            </div>
          </div>
        <div class="graphs">

        </div>
        <div class="stats"></div>
    </section>
</div>