.adDash{
   .top{
    h1{text-align: center;}
   }
    margin: 1rem;
    padding: 2rem;
    background-color: white;
   
    .sub{
        margin: 2rem;
    }
}
.editGrp{
    display: flex;
    gap: 0.5rem;
}
button{
    padding: 15px;
    border: none;
    background-color: #3B82F6;
    color: white;
    font-weight: 600;
    border-radius: 10px;
}

