@mixin buttonStyle{
    background-color: #3B82F6;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 10px;
}
.adDash{
   .top{
    h1{text-align: center;}
   }
    margin: 1rem;
    padding: 2rem;
    background-color: white;
   
    .sub{
        margin: 2rem;
    }
}
.editGrp{
    display: flex;
    gap: 0.5rem;
}
button{
    @include buttonStyle();
    font-weight: 600;
}
.adminOptions{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}



@media screen and (max-width:1000px) {
    .adminOptions{
        overflow-x: scroll;
    }
}