<app-header></app-header>
<div class="container">
  <div class="main">
    <div class="cards">
      <div class="card">
        <div class="card-content">
          <div class="number stuLength">
            {{stuData.length}}
          </div>
          <div class="card-name">Students</div>
        </div>
        <div class="icon-box">
          <i class="fas fa-user-graduate"></i>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <div class="number facLength" ng-repeat="fac in facData">
            {{facData.length}}
          </div>
          <div class="card-name">Teachers</div>
        </div>
        <div class="icon-box">
          <i class="fas fa-chalkboard-teacher"></i>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <div class="number schlength">
            {{schData.length}}
          </div>
          <div class="card-name">Total Schedules</div>
        </div>
        <div class="icon-box">
          <i class="fas fa-thin fa-books"></i>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <div class="number courseLength">
            {{classData.length}}
          </div>
          <div class="card-name">classrooms</div>
        </div>
        <div class="icon-box">
          <i class="fas fa-thin fa-clipboard-list"></i>
        </div>
      </div>
    </div>

<p-card>
  <h1>Attendance Of Student </h1>
    <p-chart type="pie" [data]="data" [options]="chartOptions"  [style]="{'width': '50%'}"></p-chart>
</p-card>
    


  </div>