<app-header></app-header>
<div class="container">
    <div class="main">
      <div class="cards">
        <div class="card">
          <div class="card-content">
            <div class="number"><p>370</p></div>
            <div class="card-name">Students</div>
          </div>
          <div class="icon-box">
            <i class="fas fa-user-graduate"></i>
          </div>
        </div>
        <div class="card">
          <div class="card-content">
            <div class="number">5</div>
            <div class="card-name">Teachers</div>
          </div>
          <div class="icon-box">
            <i class="fas fa-chalkboard-teacher"></i>
          </div>
        </div>
        <div class="card">
          <div class="card-content">
            <div class="number">60</div>
            <div class="card-name">Total Lecture</div>
          </div>
          <div class="icon-box">
            <i class="fas fa-thin fa-books"></i>
          </div>
        </div>
        <div class="card">
          <div class="card-content">
            <div class="number">3</div>
            <div class="card-name">Schedule</div>
          </div>
          <div class="icon-box">
            <i class="fas fa-thin fa-clipboard-list"></i>
          </div>
        </div>
      </div>
    

      <div class="card">
        <h5></h5>
        <p-splitter [style]="{'height': '300px'}" >
          <ng-template pTemplate>
            <h5>Boys Attendance</h5>
            <div class="">
              <p-knob [(ngModel)]="value1" [size]="200"></p-knob>
            </div>
          </ng-template>
          <ng-template pTemplate>
            <h5>Girls Attendance</h5>
            <div class="">
              <p-knob [(ngModel)]="value2" [size]="200"></p-knob>
            </div>
          </ng-template>
        </p-splitter>
      </div>
  

      
<div class="card">
	<h5></h5>
	<p-splitter [style]="{'height': '500px'}"  layout="vertical">
		<ng-template pTemplate>
      <h5>Todays Attendance</h5>
			<div class="">
        <p-knob [(ngModel)]="value3" [size]="200"></p-knob>
      </div>
		</ng-template>
		<ng-template pTemplate>
      <h5>? Attendance</h5>
			<div class="">
        <p-knob [(ngModel)]="value4" [size]="200"></p-knob>
			</div>
		</ng-template>
	</p-splitter>
</div>

  
  </div>