<app-header></app-header>
<div class="container">
    <div class="main">
      <div class="cards">
        <div class="card">
          <div class="card-content">
            <div class="number">372</div>
            <div class="card-name">Students</div>
          </div>
          <div class="icon-box">
            <i class="fas fa-user-graduate"></i>
          </div>
        </div>
        <div class="card">
          <div class="card-content">
            <div class="number">5</div>
            <div class="card-name">Teachers</div>
          </div>
          <div class="icon-box">
            <i class="fas fa-chalkboard-teacher"></i>
          </div>
        </div>
        <div class="card">
          <div class="card-content">
            <div class="number">60</div>
            <div class="card-name">Total Lecture</div>
          </div>
          <div class="icon-box">
            <i class="fas fa-thin fa-books"></i>
          </div>
        </div>
        <div class="card">
          <div class="card-content">
            <div class="number">3</div>
            <div class="card-name">Schedule</div>
          </div>
          <div class="icon-box">
            <i class="fas fa-thin fa-clipboard-list"></i>
          </div>
        </div>
      </div>
      <div class="charts">
      <div class="chart">
        <h3>Montly Attendance</h3>
        <h2>Total Lecture Conducted</h2>
        <div>
            <canvas id="lineChart"></canvas>
        </div>
    </div>
    
     
      <div class="chart doughnut-chart">
        <h3>Montly Attendance</h3>
        <h2>Total Miss Lecture </h2>
        <div>
          <canvas id="doughnut"></canvas>
        </div>
      </div>
    </div>
  
    <div class="charts">
      <div class="chart">
        <h2>Total Percent Per Subject </h2>
        <div>
            <canvas id="lineChart"></canvas>
        </div>
    </div>
    
     
      <div class="chart doughnut-chart">
        <h2>Student with highest Attendance</h2>
        <div>
          <canvas id="doughnut"></canvas>
        </div>
      </div>
    </div>
  
  </div>