.container {
  margin: 2rem;
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .view,
  .markAdd {
    overflow-y: scroll;
    max-height: 20rem;
  }
}
select {
  border-radius: 10px;
  margin-left: 10px;
  padding: 0.3rem;
  border: 1px solid rgb(214, 213, 213);
  font-size: 16px;
  color: rgb(115, 115, 115);
}
select:hover {
  border: 1px solid rgb(55, 55, 255);
}
.editGrp {
  display: flex;
  gap: 0.5rem;
}
button {
  background-color: #3b82f6;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 15px;
}
.sub {
  margin: 2rem;
}
@media screen and (max-width: 700px) {
  .container {
    margin: 1rem;
    padding: 1.5rem;
  }
}
