<app-header></app-header>
<div class="container">
    <div class="top">
        <h1>Attendance</h1>
    </div>
    <p-tabView>
        <p-tabPanel header="Schedule">
            <section class="schedule">
                <div class="title">
                    <h1>Schedule</h1>
                </div>
                <div class="Add">
                    <p-dialog header="Add Schedule" [(visible)]="display">
                        <form [formGroup]="schValue">
                            <div class="sub">
                                <ng-container>
                                    <span class="p-float-label">
                                        <input type="text" id="inputtext" pInputText formControlName="scheduleName">
                                        <label for="inputtext">Schedule Name</label>
                                    </span>
                                </ng-container>
                            </div>
                            <div class="sub">
                                <ng-container>
                                    <span class="p-float-label">
                                        <input type="date" id="inputtext" pInputText formControlName="Date">
                                        <label for="inputtext">Date</label>
                                    </span>
                                </ng-container>
                            </div>
                            <div class="sub">
                                <ng-container>
                                    <span class="p-float-label">
                                        <input type="text" id="inputtext" pInputText formControlName="timing">
                                        <label for="inputtext">Timings</label>
                                    </span>
                                </ng-container>
                            </div>
                            <div class="sub">
                                <ng-container>
                                    <span class="p-float-label">
                                        <input type="text" id="inputtext" pInputText formControlName="duration">
                                        <label for="inputtext">Duration (in mins.)</label>
                                    </span>
                                </ng-container>
                            </div>
                            <div class="sub">
                                <ng-container>
                                    <label for="group">Group</label>
                                    <select name="group" formControlName="groups">
                                        <option value="">--select--</option>
                                        <option [value]="grpDrop._id" *ngFor="let grpDrop of grpData">{{grpDrop.gName}}
                                        </option>
                                    </select>
                                </ng-container>
                            </div>
                            <div class="sub">
                                <ng-container>
                                    <label for="classroom">Classroom</label>
                                    <select name="classroom" formControlName="classrooms">
                                        <option value="">--select--</option>
                                        <option [value]="classDrop._id" *ngFor="let classDrop of classData">
                                            {{classDrop.class}}</option>
                                    </select>
                                </ng-container>
                            </div>
                            <div class="sub">
                                <ng-container>
                                    <label for="faculty">Faculty</label>
                                    <select name="faculty" formControlName="faculties">
                                        <option value="">--select--</option>
                                        <option [value]="facDrop._id" *ngFor="let facDrop of facData">{{facDrop.fname}}
                                        </option>
                                    </select>
                                </ng-container>
                            </div>
                            <div class="sub">
                                <ng-container>
                                    <label for="subject">Subject</label>
                                    <select name="subject" formControlName="subjects">
                                        <option value="">--select--</option>
                                        <option [value]="subDrop._id" *ngFor="let subDrop of subData">
                                            {{subDrop.subject}}</option>
                                    </select>
                                </ng-container>
                            </div>
                            <div class="sub">
                                <button pButton type="button" *ngIf="stuSwitch" label="Add"
                                    (click)="postSch()"></button>
                                <button pButton type="button" *ngIf="!stuSwitch" label="Edit" (click)="updateSch()">
                                </button>
                            </div>
                        </form>
                    </p-dialog>
                    <button pButton type="button" label="Add Schedule" (click)="showDialog()"></button>
                </div>
                <hr>
                <div class="view">
                    <p-table #dt1 responsiveLayout="stack" [value]="schData" dataKey="id" [rows]="5"
                        [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,15]" [loading]="loading"
                        styleClass="p-datatable-customers p-datatable-gridlines" [paginator]="true"
                        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
                        <ng-template pTemplate="caption">
                            Schedules
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th>
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        Schedule Name
                                        <p-columnFilter type="text" field="scheduleName"
                                            display="menu"></p-columnFilter>
                                    </div>
                                </th>
                                <th>
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        Date
                                        <p-columnFilter type="date" field="Date" display="menu"></p-columnFilter>
                                    </div>
                                </th>
                                <th>
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        Timing
                                    </div>
                                </th>
                                <th>
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        Duration
                                    </div>
                                </th>
                                <th>
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        Group
                                    </div>
                                </th>
                                <th>
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        Subject
                                    </div>
                                </th>
                                <th>
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        Faculty
                                    </div>
                                </th>
                                <th>
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        Classroom
                                    </div>
                                </th>
                                <th>
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        Options
                                    </div>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-schData>
                            <tr>
                                <td><span class="p-column-title">Schedule Name</span>
                                    {{schData.scheduleName}}
                                </td>
                                <td><span class="p-column-title">Date</span>
                                    {{schData.Date}}
                                </td>
                                <td><span class="p-column-title">Timing</span>
                                    {{schData.timing}}
                                </td>
                                <td><span class="p-column-title">Duration</span>
                                    {{schData.duration}}
                                </td>
                                <td><span class="p-column-title">Group</span>
                                    {{schData.groups.gName}}
                                </td>
                                <td><span class="p-column-title">Subject</span>
                                    {{schData.subjects.subject}}
                                </td>
                                <td><span class="p-column-title">Faculty</span>
                                    {{schData.faculties.fname}}
                                </td>
                                <td><span class="p-column-title">Classroom</span>
                                    {{schData.classrooms.class}}
                                </td>
                                <td><span class="p-column-title">Options</span>
                                    <div class="editGrp">
                                        <div class="edit">
                                            <button (click)="recoverSch(schData)">Edit</button>
                                        </div>
                                        <div class="delete">
                                            <button (click)="removeSch(schData._id)">Delete</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="7">No customers found.</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </section>
        </p-tabPanel>
        <p-tabPanel header="Mark Attendance">
            <section>
                <form [formGroup]="attValue">
                    <div class="section">
                        <!-- [options]="cities" [(ngModel)]="selectedCity1" -->
                        <p-dropdown [options]="schData"  placeholder="Select Schedule"
                            optionLabel="scheduleName" formControlName="scheduleName" [showClear]="true"></p-dropdown>
                    </div>
                    <div class="section">
                        <!-- [value]="" [loading]="loading" -->
                        <p-table #dt1 [value]="schData" dataKey="id" [rows]="5" [showCurrentPageReport]="true"
                            [rowsPerPageOptions]="[5,10,15]" styleClass="p-datatable-customers p-datatable-gridlines"
                            [paginator]="true"
                            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>
                                        <div class="p-d-flex p-jc-between p-ai-center">
                                            Class
                                        </div>
                                    </th>
                                    <th>
                                        <div class="p-d-flex p-jc-between p-ai-center">
                                            Roll
                                        </div>
                                    </th>
                                    <th>
                                        <div class="p-d-flex p-jc-between p-ai-center">
                                            Att Status
                                        </div>
                                    </th>
                                </tr>
                            </ng-template>

                            <ng-template pTemplate="body" let-grpData let-schData>
                                <tr>
                                    <td>
                                        {{schData.groups.gName}}
                                    </td>
                                    <td>
                                        {{schData.groups.students|json}}
                                    </td>
                                    <td>
                                        <select name="" id="">
                                            <option value="">--select--</option>
                                            <option value="">P</option>
                                            <option value="">A</option>
                                            <option value="">NA</option>
                                        </select>
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="emptymessage">
                                <tr>
                                    <td colspan="7">No customers found.</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </form>
            </section>

        </p-tabPanel>
        <p-tabPanel header="View Attendance">

        </p-tabPanel>
        <p-tabPanel header="Defaulters">

        </p-tabPanel>
    </p-tabView>

</div>